img {
    width: 600;
}
body {
    text-align: center;
    font-family: "Comic Sans Ms";
    background: aqua;
}
h1 {
    color: magenta;
    font-size: 80;
    

}
p {
    color: blue;
    font-family: impact;
    font-size: 40;
    
}
body, html {
    height: 100%;
}



