img {
    width: 600px;
}
body {
    text-align: center;
    font-family: "Comic Sans Ms";
    background: aqua;
}
h1 {
    color: magenta;

}
p {
    color: green;
    font-family: impact;
    font-size: 19;
}



