

body {
    text-align: center;
    font-family: "Comic Sans Ms";
    
    
}
h1 {
    color: cyan;
    font-size: 200;
    background-color: teal;
    font-family: cursive;
    font-style: oblique;
    font-weight: 900;
}
p {
    color: cyan;
    font-family: impact;
    font-size: 100;
    background-color: teal;
    font-style: normal;
    
}
body, html {
    height: 100%;
    width: 100%;
    background: lightblue; 
    
    
}
img {
    width: 200px;
}
h2 {
    font-size: 100;
    color: darkblue;
}
h3 {
    font-family: sans-serif;
    color: darkblue;
    font-style: italic;
}
.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none ;
}
.fa-instagram {
    color: white;
}
.fa-youtube {
    color: white;
    background: red;
    border-radius: 20%;
}
.fa-github {
    color: black;

}
#wrapper {
    width: 100%;
}

