img {
    width: 600;
}
body {
    text-align: center;
    font-family: "Comic Sans Ms";
    background: white
;
}
h1 {
    color: blue;
    font-size: 80;
    

}
p {
    color: blue;
    font-family: impact;
    font-size: 40;
    
}
body, html {
    height: 100%;
}
.info {
  font-family: monospace;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}


